!/Томас Коннолли, Каролин Бегг - Базы данных. Проектирование, реализация и сопровождение.pdf
!/Хомоненко А.Д., Цыганков В.М., Мальцев М.Г. Базы данных. Учебник для высших учебных заведений 6-е изд. - 2009.pdf
